USE [QL_BANVEXEKHACH]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 22/11/2023 2:52:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [char](10) NOT NULL,
	[TENKHACHHANG] [nvarchar](60) NULL,
	[SDT] [char](10) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[EMAIL] [nvarchar](60) NULL,
	[MATKHAU_KH] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](60) NULL,
	[NAMSINH] [int] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 22/11/2023 2:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [char](10) NOT NULL,
	[TENNHANVIEN] [nvarchar](60) NULL,
	[SDT] [char](10) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[EMAIL] [nvarchar](60) NULL,
	[MATKHAU_NV] [nvarchar](30) NULL,
	[NAMSINH] [int] NULL,
	[QUYEN] [nvarchar](60) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIXE]    Script Date: 22/11/2023 2:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIXE](
	[MATAIXE] [char](10) NOT NULL,
	[TENTAIXE] [nvarchar](60) NULL,
	[SDT] [char](10) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[NAMSINH] [int] NULL,
 CONSTRAINT [PK_TAIXE] PRIMARY KEY CLUSTERED 
(
	[MATAIXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINHTHANH]    Script Date: 22/11/2023 2:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTHANH](
	[MA] [char](10) NOT NULL,
	[TEN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUYENXE]    Script Date: 22/11/2023 2:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUYENXE](
	[MATUYENXE] [char](10) NOT NULL,
	[TUYEN] [nvarchar](60) NULL,
	[MAXE] [char](2) NULL,
	[MATAIXE] [char](10) NULL,
	[SOGHETRONG] [int] NULL,
	[GIOKHOIHANH] [time](7) NULL,
	[DIEMDI] [char](10) NULL,
	[DIEMDEN] [char](10) NULL,
 CONSTRAINT [PK_MATUYENXE] PRIMARY KEY CLUSTERED 
(
	[MATUYENXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEXE]    Script Date: 22/11/2023 2:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEXE](
	[MAVEXE] [char](10) NOT NULL,
	[MAKHACHHANG] [char](10) NULL,
	[MANHANVIEN] [char](10) NULL,
	[MATUYENXE] [char](10) NULL,
	[TINHTRANG] [nvarchar](60) NULL,
	[THANHTIEN] [money] NULL,
	[VITRIGHE] [int] NULL,
 CONSTRAINT [PK_MAXE] PRIMARY KEY CLUSTERED 
(
	[MAVEXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XE]    Script Date: 22/11/2023 2:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XE](
	[MAXE] [char](2) NOT NULL,
	[SOLUONGGHE] [int] NULL,
 CONSTRAINT [PK_XE] PRIMARY KEY CLUSTERED 
(
	[MAXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [SDT], [GIOITINH], [EMAIL], [MATKHAU_KH], [DIACHI], [NAMSINH]) VALUES (N'KH001     ', N'Nguyễn Thị Lệ Nam', N'0352913959', N'Nữ', N'lenam1124@gmail.com', N'Lnam2000', N'Bình Định', 2000)
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [SDT], [GIOITINH], [EMAIL], [MATKHAU_KH], [DIACHI], [NAMSINH]) VALUES (N'KH002     ', N'Dương Minh Nhật', N'0745586325', N'Nam', N'NM3258@gmail.com', N'Mnhat1989', N'Bình Định', 1989)
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [SDT], [GIOITINH], [EMAIL], [MATKHAU_KH], [DIACHI], [NAMSINH]) VALUES (N'KH003     ', N'Trần Kiều My', N'0385006809', N'Nữ', N'mytran0919@gmail.com', N'Kmy1999', N'Phú Yên', 1999)
GO
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [SDT], [GIOITINH], [EMAIL], [MATKHAU_NV], [NAMSINH], [QUYEN]) VALUES (N'NV001     ', N'Tạ Thị Tô Ni', N'0352924559', N'Nữ', N'nittt@gmail.com', N'toni1998', 1998, N'Nhân viên soát vé')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [SDT], [GIOITINH], [EMAIL], [MATKHAU_NV], [NAMSINH], [QUYEN]) VALUES (N'NV002     ', N'Dương Quốc Danh', N'0713486325', N'Nam', N'danhdq@gmail.com', N'quocdanh1989', 1989, N'Bảo vệ')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [SDT], [GIOITINH], [EMAIL], [MATKHAU_NV], [NAMSINH], [QUYEN]) VALUES (N'NV003     ', N'Trần Thị Kim Ngân', N'0388940809', N'Nữ', N'nganttk@gmail.com', N'kimngan1999', 1999, N'Nhân viên soát vé')
GO
INSERT [dbo].[TAIXE] ([MATAIXE], [TENTAIXE], [SDT], [GIOITINH], [NAMSINH]) VALUES (N'TX001     ', N'Lê Hữu Thành', N'0352921415', N'Nam', 1978)
INSERT [dbo].[TAIXE] ([MATAIXE], [TENTAIXE], [SDT], [GIOITINH], [NAMSINH]) VALUES (N'TX002     ', N'Nguyễn Tiến Lợi', N'0713568925', N'Nam', 1989)
INSERT [dbo].[TAIXE] ([MATAIXE], [TENTAIXE], [SDT], [GIOITINH], [NAMSINH]) VALUES (N'TX003     ', N'Lê Văn Tám', N'0388995599', N'Nam', 1979)
GO
INSERT [dbo].[TINHTHANH] ([MA], [TEN]) VALUES (N'AG        ', N'Tỉnh An Giang')
INSERT [dbo].[TINHTHANH] ([MA], [TEN]) VALUES (N'BD        ', N'Tỉnh Bình Định')
INSERT [dbo].[TINHTHANH] ([MA], [TEN]) VALUES (N'BG        ', N'Tỉnh Bắc Giang')
GO
INSERT [dbo].[TUYENXE] ([MATUYENXE], [TUYEN], [MAXE], [MATAIXE], [SOGHETRONG], [GIOKHOIHANH], [DIEMDI], [DIEMDEN]) VALUES (N'CX001     ', N'TPHCM - Tiền Giang', N'XM', N'TX003     ', 28, CAST(N'13:05:00' AS Time), N'HCM       ', N'TG        ')
INSERT [dbo].[TUYENXE] ([MATUYENXE], [TUYEN], [MAXE], [MATAIXE], [SOGHETRONG], [GIOKHOIHANH], [DIEMDI], [DIEMDEN]) VALUES (N'CX002     ', N'Đà Lạt - Nha Trang', N'XT', N'TX006     ', 10, CAST(N'09:45:12' AS Time), N'DL        ', N'NT        ')
INSERT [dbo].[TUYENXE] ([MATUYENXE], [TUYEN], [MAXE], [MATAIXE], [SOGHETRONG], [GIOKHOIHANH], [DIEMDI], [DIEMDEN]) VALUES (N'CX003     ', N'Tiền Giang - Đà Lạt', N'XV', N'TX002     ', 9, CAST(N'11:15:00' AS Time), N'TG        ', N'DL        ')
GO
INSERT [dbo].[VEXE] ([MAVEXE], [MAKHACHHANG], [MANHANVIEN], [MATUYENXE], [TINHTRANG], [THANHTIEN], [VITRIGHE]) VALUES (N'VX001     ', N'KH003     ', N'NV007     ', N'CX007     ', N'Đã thanh toán', 145000.0000, NULL)
INSERT [dbo].[VEXE] ([MAVEXE], [MAKHACHHANG], [MANHANVIEN], [MATUYENXE], [TINHTRANG], [THANHTIEN], [VITRIGHE]) VALUES (N'VX002     ', N'KH015     ', N'NV004     ', N'CX014     ', N'Chưa thanh toán', 305000.0000, NULL)
INSERT [dbo].[VEXE] ([MAVEXE], [MAKHACHHANG], [MANHANVIEN], [MATUYENXE], [TINHTRANG], [THANHTIEN], [VITRIGHE]) VALUES (N'VX003     ', N'KH009     ', N'NV007     ', N'CX010     ', N'Đã huỷ', 105000.0000, NULL)
GO
INSERT [dbo].[XE] ([MAXE], [SOLUONGGHE]) VALUES (N'XM', 30)
INSERT [dbo].[XE] ([MAXE], [SOLUONGGHE]) VALUES (N'XT', 25)
INSERT [dbo].[XE] ([MAXE], [SOLUONGGHE]) VALUES (N'XV', 40)
GO
ALTER TABLE [dbo].[TUYENXE]  WITH CHECK ADD  CONSTRAINT [FK_TUYENXE_TAIXE] FOREIGN KEY([MATAIXE])
REFERENCES [dbo].[TAIXE] ([MATAIXE])
GO
ALTER TABLE [dbo].[TUYENXE] CHECK CONSTRAINT [FK_TUYENXE_TAIXE]
GO
ALTER TABLE [dbo].[TUYENXE]  WITH CHECK ADD  CONSTRAINT [FK_TUYENXE_TINHTHANH] FOREIGN KEY([DIEMDI])
REFERENCES [dbo].[TINHTHANH] ([MA])
GO
ALTER TABLE [dbo].[TUYENXE] CHECK CONSTRAINT [FK_TUYENXE_TINHTHANH]
GO
ALTER TABLE [dbo].[TUYENXE]  WITH CHECK ADD  CONSTRAINT [FK_TUYENXE_TINHTHANH1] FOREIGN KEY([DIEMDEN])
REFERENCES [dbo].[TINHTHANH] ([MA])
GO
ALTER TABLE [dbo].[TUYENXE] CHECK CONSTRAINT [FK_TUYENXE_TINHTHANH1]
GO
ALTER TABLE [dbo].[TUYENXE]  WITH CHECK ADD  CONSTRAINT [FK_TUYENXE_XE] FOREIGN KEY([MAXE])
REFERENCES [dbo].[XE] ([MAXE])
GO
ALTER TABLE [dbo].[TUYENXE] CHECK CONSTRAINT [FK_TUYENXE_XE]
GO
ALTER TABLE [dbo].[VEXE]  WITH CHECK ADD  CONSTRAINT [FK_VEXE_KHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[VEXE] CHECK CONSTRAINT [FK_VEXE_KHACHHANG]
GO
ALTER TABLE [dbo].[VEXE]  WITH CHECK ADD  CONSTRAINT [FK_VEXE_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[VEXE] CHECK CONSTRAINT [FK_VEXE_NHANVIEN]
GO
ALTER TABLE [dbo].[VEXE]  WITH CHECK ADD  CONSTRAINT [FK_VEXE_TUYENXE] FOREIGN KEY([MATUYENXE])
REFERENCES [dbo].[TUYENXE] ([MATUYENXE])
GO
ALTER TABLE [dbo].[VEXE] CHECK CONSTRAINT [FK_VEXE_TUYENXE]
GO
